<%- include('./partials/header.ejs', {cssFile: 'home' }) %>  
    <div class = "logo-container">
        <img src = ../images/logo.png alt = "logo">
    </div>
<%- include('./partials/footer.ejs') %>  
    